
body, html {
	height: 100%;
	padding: 0;
	position: fixed;
} 
.container{
	width: 100%;
	position: relative;
	height: auto ;
	height: 100%;
	min-height: 100%;
	padding: 0;
	display: block;
}

.contents{
	height: 85%;
	width: 100%;
	min-width: 910px;
	position: fixed;
}

.contents #mes_head{
	/*float: right;
	background-color: #F7F7F7;
	border: solid 1px #95989A;
	height: 60px;
	width: 100%;*/
}

/*サイドバー*/
.sidebar{
	float: left;
	height: 100%;
	min-width: 258px;
	background-color: #000000;
	opacity: 0.8;
	position: fixed;
	/*overflow: scroll;*/
}
/*トーク履歴一覧*/
.sidebar .user_list {
	height: 80%;
	width: 100%;
	margin-top: 15px;
	overflow: scroll;
}

/*検索欄	*/
.sidebar #search {
	height: 30px;
	width: 100%;
	margin-top: 30px;
}
/*検索欄　アンダーバー*/
.sidebar #bar{
	margin-left:10px;
	border-top: 1px solid #fff;
	width: 85%;
	opacity: 0.8;
}

/*サイドバー履歴表示*/

.sidebar #search #search_icon {
	font-size: 18px;
	color: #fff;
	margin:3px 0 0 14px;
	display: inline;
	float: left;
	width: 15%
}
.sidebar #search #mes_search{
	float: left;
	display: inline;
	width: 70%;
	background-color: transparent;
	border: none;
	color: #fff;
	margin: 2px 0 0 7px;
	outline: none;
} 

/*ユーザートーク履歴*/
.sidebar #talk_history{
	/*margin-top:12px;
	width: 100%;
	height: 55px;*/
	padding-top: 12px;
    width: 100%;
    height: 67px;
}

.sidebar .highlight{
	padding-top: 12px;
	width: 100%;
	height: 67px;
	background-color:rgba(134, 134, 134, 0.38);
}

.sidebar .tom:hover {
	background-color:rgba(134, 134, 134, 0.38);
	cursor: pointer; ;
}


/*ユーザーアイコン*/
.sidebar #talk_history #mes_icon{
	float: left;
	width: 45px;
	height: 45px;
	margin: 3px 0 0 3px;
	border-radius: 20px;
}

/*ユーザー名*/
.sidebar #talk_history #his_name{
	float: left;
	width: 90px;
	height: 30px;
	font-size: 15px;
	color: #fff;
	margin: 5px 0 0 15px;
}

/*トーク時間*/
.sidebar #talk_history #his_time{
	color: #fff;
	float: right;
	margin: 5px 14px 0 0;
	font-size: 15px; 
}



/*トーク内容*/
.sidebar #talk_history #his_comment{
	bottom: 0;
	/*position: fixed ;*/
}
.content #mes_head {
	float: right;
	background-color: #F7F7F7;
	border: solid 1px #95989A;
	height: 60px;
	width: 100%;
	text-align: center;
	padding-top:11px;
	font-size: 27px; 
}




.content {
	float: left;
	height: 100%;
	/*width: 80%;*/
	width: 82%;
    margin-left: 258px;
}

/*投稿表示欄*/
/*コメント毎に改行する*/
.user{
	clear: both;
	height: 20px;
}

.content #talk_content{
	width: 100%;
	height: 87%;
	overflow: scroll;
	word-break: break-all;
}
.content .talkField{
	/*min-width: 910px;*/


}
.content .talking{
	width: auto;
	height: 40px;
	min-height: 30px;
	border: 1px solid;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}
/*自分の投稿内容*/
.content #talk_content #talking_me{
	float: right;
	padding: 3px;
	display: inline;
	max-width: 50%;
	/*margin: 3px;*/
	border: solid 1px;
	/*min-width: 910px;*/
}
/*相手の投稿内容*/
.content #talk_content #talking_you{
	float: left;
	padding: 3px;
	display: inline;
	max-width: 50%;
	/*margin: 3px;*/
	border: solid 1px;
}




/*メッセージバー	*/
#mes_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	border: solid 0.5px;
	background-color: #EEEEEE;
 }

/*メッセージバー　イメージ図挿入ボタン*/
#mes_footer #image {
	float: left;
	width: 5%;
}
#mes_footer #image #uplode_image{
	width: 22px;
	margin: 8px 0 0 40%;
}

#mes_footer #image #uplode_image:hover{
	/*background-color:rgba(134, 134, 134, 0.64);*/
	cursor: pointer; 
	/*border: solid 1px rgba(134, 134, 134, 0.64);*/
}


/*メッセージバー　テキスト入力欄*/
#mes_footer #text_input{
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
}
#mes_footer #textbox {
	float: left;
	width: 67.5%;
	border: 1px solid ;
	background-color: #fff;
	margin: 8px 0 0 15px;
	border-radius: 10px;
	border: 1px solid #A3A3A3;
	padding-left: 5px;
}

/*メッセージバー　送信ボタン*/
#mes_footer #push {
	float: left;
	width: 5%;
	margin: ;
}
#mes_footer #push #submit{
	width: 20px;
	margin: 7px 0 0 35%;
}

#mes_footer #push #submit:hover{
	/*background-color:rgba(134, 134, 134, 0.64);*/
	cursor: pointer; ;
}




/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: relative;
    background: rgba(218, 218, 218, 0.64);
    border: 1px solid rgba(119, 119, 119, 0.28);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
}
.left_img_uplode{
	position: relative;
    margin: 10px 0 0 10px; 
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 425px;
    float: left;
}
 
/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    position: relative;
    background: #97C8E2;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_img_uplode{
	position: relative;
    margin: 10px 10px 0 0; 
    border-radius: 15px;;
    margin-left: 20%;
    clear: both;
    max-width: 425px;
    float: right;
}

 
/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}


#talkField{
	width: 100%;
	height: 500px;
	padding: 10px;
}





@media screen and (max-width:1283px) {
	
	#mes_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	border: solid 0.5px;
	background-color: #EEEEEE;
 }






}







