@import url("../../webfonts/AvenirNextCondensed_UltraLight/stylesheet.css");
/*all*/
html {
 background-color: #000000;
}
body {
 text-align: center;
 background-repeat: no-repeat;
 background-position: center 0%;
 background-image: url(../img/aruaru4.jpg);
 color: #FFFFFF;
 background-size: cover;
 position: relative;
 background-attachment: fixed;
}
#wrp {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  letter-spacing: 2px;
 width:250px;
}

.back {
 position: absolute;
 left: 30px;
 top: 30px;
}


/* ロゴマーク */
#logoBox {
margin-bottom: 60px;
}
#logoBox #logo {
 margin-bottom: 25px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
#logoBox h1 {
 font-size: 60px;
 font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 3px;
 line-height: 40px;
}
#logoBox #sub {
 font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro","ＭＳ Ｐ明朝", "MS PMincho", serif;
 font-size: 10px;
 letter-spacing: 2px;
}

#ctgBox h2 {
 padding-bottom: 20px;
 font-family: "AvenirNextCondensed UltraLight";
 font-size: 40px;
}
#ctgBox .line {
 background-image: url(../img/tate.jpg);
 background-position: center 0%;
 background-repeat: repeat-y;
 height: 40px;
}

/* 入力フォーム */
form input {
  letter-spacing: 2px;
}
form .att {
 font-size: 10px;
 letter-spacing: 1px;
 margin-bottom: 20px;
}

/* ログインボタン */
#submitBox {
 margin-top: 30px;
 position: absolute;
 bottom: 30px;
}
#submitBox .login {
 display: inline-block;
 padding: 0.3em 1em;
 text-decoration: none;
 color: white;
 background-color: #67c5ff;
 border: solid 2px #67c5ff;
 border-radius: 3px;
 transition: .4s;
 margin-right: 10px;
}
#submitBox .login:hover {
 background: white;
 color: #67c5ff;
}
#submitBox .create {
 font-size: 12px;
 color: white;
}
#submitBox .create:hover {
 color: #67c5ff;
}
.position {
 position: absolute;
 bottom: 0px;
}


/*情報登録&確認&編集*/

form .inputBox {
 font-size: 10px;
 font-family: sans-serif;
 letter-spacing: 2px;
 margin-bottom: 10px;
 margin-top: 20px;
}
form input.text {
 border: none;
 text-align: center;
 color: white;
 padding: 0;
 background: none;
 border-radius: 0;
 -webkit-appearance: none;
 appearance: none;
 outline: 0;
}
form .text::-webkit-input-placeholder {
    color: rgba(102,196,254,0.60); 
  }

.list {
 margin-bottom: 30px;
 border-bottom: 1px solid rgba(255,255,255,0.40);
 padding-bottom: 10px;
}
.list .ttl {
 font-size: 10px;
 font-family: sans-serif;
 letter-spacing: 2px;
 margin-bottom: 10px;
 margin-top: 10px;
}
.list .text {
 border: none;
 text-align: center;
 color: #FFFFFF;
 background: none;
 border-radius: 0;
 -webkit-appearance: none;
 appearance: none;
 outline: 0;
 letter-spacing: 1px;
}
.list .text::-webkit-input-placeholder {
    color: #66C4FE; 
  }
.list .att {
 margin-top: 5px;
}
.catch {
 font-size: 12px;
 margin-bottom: 30px;
}



.relative {
 position: relative;
}
.clmWrp {
 display: flex;
 justify-content: center;
 align-items:stretch;
}
.clmWrp .clm {
 margin-top: 50px;
 margin-bottom: 50px;
 margin-left: 40px;
 margin-right: 40px;
 position: relative;
 width: 270px;
}
.clmWrp #clm_1 {
 padding-top: 70px;
}
.clmWrp #clm_2 {
 width: 270px;
}
.clmWrp #clm_3 {
 width: 270px;
}
.clmWrp #clm_4 {
}

.underlineWrp {
 border-bottom: 1px solid rgba(255,255,255,0.40);
 ;
 padding-bottom: 15px;
}
.clmWrp .course {
 letter-spacing: 1px;
 display: inline;
}
